<h1 class="text-center">Crie uma lista </h1>

<h4 class="text-center">
Esta aplicação vai o ajudar a organizar a  vida <br>
click abaixo para comecar.
</h4>

<p class="text-center">
	{{#link-to 'todos' 
	class='btn  btn-success'}}
	Criar sua primeira lista
	{{/link-to}}
</p>	